.block-system-branding-block {
  width: 100%;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin-bottom: 0;
  @include respond-to(medium-up) {
    flex-basis: 60%;
  }
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  > a,
  > div {
    display: inline-block;
  }
}

.site-logo {
  flex-basis: 100%;
  align-self: self-start;
  margin-top: .5rem;
  margin-right: 5%;
  @include respond-to(small-up) {
    flex-basis: 20%;
    margin-right: 0;
  }
}

.site-branding {
  flex-basis: 100%;
  margin-right: 5%;
  margin-top: 1rem;
  @include respond-to(small-up) {
    flex-basis: 78%;
    margin-right: 0;
    margin-left: 2%;
    margin-top: 0;
  }
}

.site-slogan {
  margin-top: .5rem;
  font-size: 110%;
  @include respond-to(small-up) {
    margin-top: 0;
  }
}

header {
  padding-bottom: 1rem;
  background: var(--color-light-gray);
}

.site-name {
  font-size: 200%;
  line-height: 1.2em;
  font-family: var(--font-titles);
  margin-top: 4px;
  a {
    text-decoration: none;
    &:hover {
      color: var(--color-orange);
    }
  }
}

.menu--account { 
  margin-bottom: 0;
}
